Workflow.json
{
  "name": "Rag_Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1nw8u9K2h75z378d3poc4-xEYNDs7FeNZ",
          "mode": "list",
          "cachedResultName": "Apple",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nw8u9K2h75z378d3poc4-xEYNDs7FeNZ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e5bcf2e9-655a-4f35-b60a-f3cbac63f580",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lqlbD3HBjqVHEUis",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "df4153dd-d27b-4a5f-b371-ce9154695898",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lqlbD3HBjqVHEUis",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "embeddingBatchSize": 1,
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "={{ $('Download file1').item.json.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        544,
        -48
      ],
      "id": "e3cffff6-66bf-43d7-ad2c-0b30096203f3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "CTlt4KaeLqVF5Dai",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "n8n_RAG",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        608,
        256
      ],
      "id": "3f790aa1-5226-4199-8c5e-8cc53187d88a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1008,
        -16
      ],
      "id": "dc3938dc-7c60-4962-8afa-a372c6a5fb98",
      "name": "When chat message received",
      "webhookId": "e8a78cc2-4bac-40a8-94bc-5811a10d974b"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        704,
        464
      ],
      "id": "64ce36a7-4a05-4f3c-885d-8639baa966d4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        208
      ],
      "id": "6fa0a777-0bf7-4d65-922a-2bcfb0c1e369",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1nw8u9K2h75z378d3poc4-xEYNDs7FeNZ",
            "mode": "list",
            "cachedResultName": "Apple",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1nw8u9K2h75z378d3poc4-xEYNDs7FeNZ"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        208
      ],
      "id": "fb4f37bd-3c37-4d3d-b7c3-c4050ef0f5fd",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lqlbD3HBjqVHEUis",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        208
      ],
      "id": "a107dbb1-8fe0-46ec-a73b-591a57c70805",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lqlbD3HBjqVHEUis",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        -192
      ],
      "id": "bd5d59c9-718b-47e2-ba5f-9a378af4c343",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        448,
        320
      ],
      "id": "942f68cf-f319-40cf-b3a2-064e6f9581b8",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "8rRtQaC6F7f02MEA",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"qwen2.5:1.5b\",\n  \"prompt\": \"You are a router. If the user query requires information from Apple financial reports, respond with ONLY the word SEARCH. If it's a greeting or general question, respond with ONLY the word DIRECT.\\n\\nQuery: \" + $json.chatInput.replace(/\\n/g, ' '),\n  \"stream\": false\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        -176
      ],
      "id": "65463ea9-996a-4fbd-8cf9-322119de08fe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0907550c-7304-4b6a-b4a1-4c5b9659ced2",
              "leftValue": "={{ $json.response.trim() }}",
              "rightValue": "SEARCH",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        -176
      ],
      "id": "961ffea1-bd46-4025-8928-3640f3ad958c",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a friendly assistant. Answer general questions normally. If the user asks about Apple financials, tell them to ask specifically so you can look it up."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1600,
        -80
      ],
      "id": "254ecda1-c330-4ff2-8914-dfe712cfeb14",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1680,
        80
      ],
      "id": "38930bd9-0968-4e0c-a7d4-1f700f1a0c0c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "qwen2.5:1.5b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1520,
        80
      ],
      "id": "b30d8d21-0ebb-48ef-b9b3-610d7212b227",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "8rRtQaC6F7f02MEA",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1nw8u9K2h75z378d3poc4-xEYNDs7FeNZ",
            "mode": "list",
            "cachedResultName": "Apple",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1nw8u9K2h75z378d3poc4-xEYNDs7FeNZ"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1664,
        -256
      ],
      "id": "ae0d9cee-3905-4de4-8b81-98f9b4c181d6",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lqlbD3HBjqVHEUis",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen2.5:1.5b",
          "mode": "list",
          "cachedResultName": "qwen2.5:1.5b"
        },
        "messages": {
          "values": [
            {
              "content": "=Given these files: {{ $items().map(f => f.json.name).join(', ') }}\nQuery: {{ $('When chat message received').item.json.chatInput }}\nReturn ONLY the single exact filename most relevant to this query. Nothing else. No explanation."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1856,
        -256
      ],
      "id": "50ff92c0-6b61-47dc-9a9b-7396cb5fc87d",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "8rRtQaC6F7f02MEA",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"input\": \"{{ $('When chat message received').item.json.chatInput }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2144,
        -256
      ],
      "id": "cc4f4675-4d47-486f-b24d-dc9dc06aa8f1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "\"INSERT_YOUR_DBVector_Link\"",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.embeddings[0]) }},\n  \"topK\": 5,\n  \"namespace\": \"{{ $('Message a model').item.json.content }}\",\n  \"includeMetadata\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2352,
        -256
      ],
      "id": "f46d1f53-dafb-41be-ab5c-74a8025fcfa8",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Context from financial reports:\n{{ $json.matches.map(m => m.metadata.text || m.metadata.content || '').join('\\n\\n') }}\n\nQuestion: {{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI assistant specialized in analyzing Apple's quarterly financial reports. Answer ONLY using the context provided above. Include specific numbers and cite which quarter. If the context doesn't contain the answer, say so."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2560,
        -208
      ],
      "id": "f580773c-2ad3-4b69-9859-99554003a5e3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "qwen2.5:1.5b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2432,
        0
      ],
      "id": "a9652203-f915-4077-9a04-848d8a990bbc",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "8rRtQaC6F7f02MEA",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2576,
        0
      ],
      "id": "392f0f7d-bcba-4a5c-ae05-5121a33dd9de",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "content": "## Loading\n\n",
        "height": 928,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -320
      ],
      "id": "fe3c4efa-eb66-4f23-9c3b-bfb8a66483cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Chatbot\n\n",
        "height": 928,
        "width": 2000
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        -352
      ],
      "id": "14512dd1-6d83-412d-b4c7-efcfecbac63e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f09f2666-9057-46fc-8b1b-4cbba155e978",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "418bbd3f617f9577852b9d1efe50e584442738949fb21cf7b8232df3a3884373"
  },
  "id": "gxj4S1w7SVlFM8zT",
  "tags": []
}